[Unit]
Description=Feehi Server
After=network.target
After=syslog.target

[Service]
Type=forking
PIDFile=/path/to/yii2app/frontend/runtime/server.pid
ExecStart=/path/to/php /path/to/yii2app/yii swoole/start
ExecStop=/bin/kill $MAINPID
ExecReload=/bin/kill -USR1 $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target graphical.target
